.slide1694-container {
  min-height: 100vh;
}
.slide1694-slide1694 {
  width: 100%;
  height: 1920px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.slide1694-line1 {
  top: 65px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1694-text {
  top: 13px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1694-wall-mockup {
  top: 65px;
  left: 0px;
  width: 666px;
  height: 1000px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1694-shadow {
  top: 0px;
  left: 0px;
  width: 666px;
  height: 1000px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1694-main {
  top: 0px;
  left: 0px;
  width: 666px;
  height: 1000px;
  position: absolute;
  border-color: transparent;
}
.slide1694-your-design {
  top: 230px;
  left: 119.5px;
  width: 547px;
  height: 626px;
  position: absolute;
  border-color: transparent;
}
.slide1694-kraft-product-box-mockup {
  top: 78px;
  left: 667px;
  width: 413px;
  height: 384px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1694-shadow1 {
  top: 0px;
  left: 0px;
  width: 471px;
  height: 434px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1694-main1 {
  top: 7.5px;
  left: 7.5px;
  width: 256px;
  height: 271px;
  position: absolute;
  border-color: transparent;
}
.slide1694-kraft-product-box-mockuplabel {
  top: 5px;
  left: 5px;
  width: 232px;
  height: 215px;
  position: absolute;
  border-color: transparent;
}
.slide1694-poster-frame-mockup {
  top: 1086px;
  left: 0px;
  width: 1080px;
  height: 834px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1694-shadow2 {
  top: 0px;
  left: 0px;
  width: 1250px;
  height: 834px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1694-main2 {
  top: 0px;
  left: 0px;
  width: 1250px;
  height: 834px;
  position: absolute;
  border-color: transparent;
}
.slide1694-poster-frame-mockuplabel {
  top: 51px;
  left: 435px;
  width: 335px;
  height: 439px;
  position: absolute;
  border-color: transparent;
}
.slide1694-circleand-rectangle-white-label-tag-mockup {
  top: 346px;
  left: 726px;
  width: 296px;
  height: 719.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1694-shadow3 {
  top: 0px;
  left: 0px;
  width: 296px;
  height: 719px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1694-main3 {
  top: 5px;
  left: 0px;
  width: 284px;
  height: 705px;
  position: absolute;
  border-color: transparent;
}
.slide1694-label {
  top: 311.5px;
  left: 0.5px;
  width: 241px;
  height: 398px;
  position: absolute;
  border-color: transparent;
}
.slide1694-round-label {
  top: 289px;
  left: 73px;
  width: 211px;
  height: 211px;
  position: absolute;
  border-color: transparent;
}
