.slide1693-container {
  min-height: 100vh;
}
.slide1693-slide1693 {
  width: 100%;
  height: 1920px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.slide1693-group12 {
  top: 102px;
  left: 60px;
  width: 961px;
  height: 486px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1693-pattern-w {
  top: 36px;
  left: 271px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-pattern-w1 {
  top: 358px;
  left: 271px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-pattern-w2 {
  top: 197px;
  left: 368px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-pattern-w3 {
  top: 197px;
  left: 0px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-pattern-w4 {
  top: 36px;
  left: 630px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-pattern-w5 {
  top: 358px;
  left: 639px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-pattern-w6 {
  top: 197px;
  left: 736px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak {
  top: 3px;
  left: 78px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak1 {
  top: 325px;
  left: 78px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak2 {
  top: 164px;
  left: 175px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak3 {
  top: 3px;
  left: 437px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak4 {
  top: 0px;
  left: 805px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak5 {
  top: 325px;
  left: 805px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak6 {
  top: 325px;
  left: 446px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-path-kotak7 {
  top: 164px;
  left: 543px;
  width: 156px;
  height: 161px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1693-line1 {
  top: 65px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1693-line2 {
  top: 779px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1693-text {
  top: 14px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1693-text02 {
  top: 728px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1693-text04 {
  top: 814px;
  left: 274px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Bauhaus 93;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1693-text06 {
  top: 919px;
  left: 274px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Bauhaus 93;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1693-line3 {
  top: 1180px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1693-text13 {
  top: 1129px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1693-rectangle12 {
  top: 1178px;
  left: 596px;
  width: 484px;
  height: 742px;
  position: absolute;
  border-color: transparent;
}
.slide1693-shipping-box-mockup {
  top: 1194px;
  left: 32px;
  width: 658px;
  height: 475px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1693-shadow {
  top: 0px;
  left: 0px;
  width: 658px;
  height: 475px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1693-main {
  top: 2.5px;
  left: 2.5px;
  width: 528px;
  height: 453px;
  position: absolute;
  border-color: transparent;
}
.slide1693-right {
  top: 129.5px;
  left: 224px;
  width: 293px;
  height: 277px;
  position: absolute;
  border-color: transparent;
}
.slide1693-left {
  top: 174.5px;
  left: 0px;
  width: 194px;
  height: 201px;
  position: absolute;
  border-color: transparent;
}
.slide1693-plastic-carrier-bag-mockup {
  top: 1282px;
  left: 652px;
  width: 425px;
  height: 529px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1693-shadow1 {
  top: 0px;
  left: 0px;
  width: 425px;
  height: 529px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1693-main1 {
  top: 7.5px;
  left: 7.5px;
  width: 386px;
  height: 491px;
  position: absolute;
  border-color: transparent;
}
.slide1693-plastic-carrier-bag-mockuplabel {
  top: 5px;
  left: 5px;
  width: 389px;
  height: 494px;
  position: absolute;
  border-color: transparent;
}
.slide1693-square-tag {
  top: 1904px;
  left: 0px;
  width: 325px;
  height: 624px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide1693-shadow2 {
  top: 0px;
  left: 0px;
  width: 325px;
  height: 624px;
  opacity: 0.70;
  position: absolute;
  border-color: transparent;
}
.slide1693-main2 {
  top: 0px;
  left: 0px;
  width: 237px;
  height: 574px;
  position: absolute;
  border-color: transparent;
}
.slide1693-replace-design {
  top: 346px;
  left: -2.5px;
  width: 191px;
  height: 188px;
  position: absolute;
  border-color: transparent;
}
.slide1693-rope-color {
  top: -2.5px;
  left: 100px;
  width: 29px;
  height: 376px;
  position: absolute;
  border-color: transparent;
}
