.slide1692-container {
  min-height: 100vh;
}
.slide1692-slide1692 {
  width: 100%;
  height: 1920px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.slide1692-group4 {
  top: 457px;
  left: 330px;
  width: 421px;
  height: 369px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-text {
  top: 313px;
  color: rgba(230, 33, 41, 1);
  width: 421px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Bauhaus 93;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1692-group1 {
  top: 0px;
  left: 72px;
  width: 276px;
  height: 284.4252624511719px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-pattern-w {
  top: 95.00218200683594px;
  left: 69.14530944824219px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1692-path-kotak {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 284px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1692-group9 {
  top: 97px;
  left: 20px;
  width: 1026px;
  height: 286px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-line2 {
  top: 143px;
  left: 0px;
  width: 1026px;
  height: 0px;
  position: absolute;
}
.slide1692-line3 {
  top: 285px;
  left: 0px;
  width: 1026px;
  height: 0px;
  position: absolute;
}
.slide1692-line4 {
  top: 1px;
  left: 0px;
  width: 1026px;
  height: 0px;
  position: absolute;
}
.slide1692-line13 {
  top: 121px;
  left: 0px;
  width: 1026px;
  height: 0px;
  position: absolute;
}
.slide1692-line14 {
  top: 164px;
  left: 0px;
  width: 1026px;
  height: 0px;
  position: absolute;
}
.slide1692-line5 {
  top: 0px;
  left: 0px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line7 {
  top: 0px;
  left: 153px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line8 {
  top: 0px;
  left: 291px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line9 {
  top: 1px;
  left: 322px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line10 {
  top: 1px;
  left: 996px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line11 {
  top: 1px;
  left: 645px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line12 {
  top: 1px;
  left: 698px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-line6 {
  top: 0px;
  left: 1026px;
  width: 285px;
  height: 0px;
  position: absolute;
}
.slide1692-group2 {
  top: 98px;
  left: 35px;
  width: 1011px;
  height: 284.4252624511719px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-text02 {
  top: 95px;
  left: 276px;
  color: rgba(230, 33, 41, 1);
  width: 735px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Bauhaus 93;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1692-group11 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 284.4252624511719px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-pattern-w1 {
  top: 95.00218200683594px;
  left: 69.14530944824219px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1692-path-kotak1 {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 284px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1692-group10 {
  top: 435px;
  left: 327.0000305175781px;
  width: 423.9999694824219px;
  height: 423px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-rectangle6 {
  top: 0px;
  left: 0.999969482421875px;
  width: 423px;
  height: 423px;
  position: absolute;
  border-color: rgba(142, 123, 123, 1);
  border-style: solid;
  border-width: 1px;
}
.slide1692-line15 {
  top: 0px;
  left: 211.99996948242188px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line16 {
  top: 0px;
  left: 349.9999694824219px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line23 {
  top: 0px;
  left: 401.9999694824219px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line24 {
  top: 0px;
  left: 234.99996948242188px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line25 {
  top: 0px;
  left: 204.99996948242188px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line17 {
  top: 0px;
  left: 74.99996948242188px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line26 {
  top: 0px;
  left: 23.999969482421875px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line18 {
  top: 164px;
  left: 423.0011901855469px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line19 {
  top: 22px;
  left: 423.0011901855469px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line20 {
  top: 306px;
  left: 423.0011901855469px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line21 {
  top: 348px;
  left: 423.0011901855469px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line22 {
  top: 373px;
  left: 423.0011901855469px;
  width: 423px;
  height: 0px;
  position: absolute;
}
.slide1692-line1 {
  top: 65px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1692-line21 {
  top: 994px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1692-text04 {
  top: 14px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1692-text06 {
  top: 943px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1692-group11 {
  top: 1027px;
  left: 307px;
  width: 467px;
  height: 504px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.slide1692-rectangle7 {
  top: 237px;
  left: 0px;
  width: 218px;
  height: 218px;
  position: absolute;
  border-color: transparent;
}
.slide1692-rectangle9 {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 218px;
  position: absolute;
  border-color: transparent;
}
.slide1692-rectangle8 {
  top: 237px;
  left: 249px;
  width: 218px;
  height: 218px;
  position: absolute;
  border-color: transparent;
}
.slide1692-rectangle10 {
  top: 0px;
  left: 249px;
  width: 218px;
  height: 218px;
  position: absolute;
  border-color: transparent;
}
.slide1692-pattern-w2 {
  top: 299px;
  left: 289px;
  width: 138px;
  height: 94px;
  position: absolute;
  box-shadow: 11px 9px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1692-path-kotak2 {
  top: 268px;
  left: 33px;
  width: 152px;
  height: 156px;
  position: absolute;
  box-shadow: 12px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.slide1692-text08 {
  top: 469px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1692-text10 {
  top: 469px;
  left: 252px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1692-text12 {
  top: 25px;
  left: 294px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 144px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1692-i-m-g00421 {
  top: 11px;
  left: 11px;
  width: 196px;
  height: 196px;
  position: absolute;
  border-color: transparent;
}
.slide1692-line31 {
  top: 1658px;
  left: 0px;
  width: 1080px;
  height: 0px;
  position: absolute;
}
.slide1692-text13 {
  top: 1607px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide1692-rectangle11 {
  top: 1677px;
  left: 484px;
  width: 112px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}
.slide1692-text15 {
  top: 1808px;
  left: 378px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
