.uji-coba-container {
  min-height: 100vh;
}
.uji-coba-uji-coba {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-m-a-k-e-r-s-n-a-v-i-g-a-t-i-o-n-b-a-r {
  width: 1440px;
  height: 94px;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-container1 {
  width: 1100px;
  display: flex;
  padding: 24px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.uji-coba-left {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.uji-coba-m-a-k-e-r-s-b-r-a-n-d-l-o-g-o {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.uji-coba-makingitlogo {
  height: 30px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-icon {
  width: 34px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;
}
.uji-coba-rectangle5 {
  top: 11.313720703125px;
  left: 0px;
  width: 16px;
  height: 4.000026702880859px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 228, 94, 1);
}
.uji-coba-rectangle6 {
  top: 14.14215087890625px;
  left: 7.14208984375px;
  width: 20px;
  height: 4.000026702880859px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(94, 171, 227, 1);
}
.uji-coba-rectangle7 {
  top: 16.970550537109375px;
  left: 14.11279296875px;
  width: 24px;
  height: 4.000026702880859px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 99, 146, 1);
}
.uji-coba-text {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-right {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.uji-coba-links {
  display: flex;
  padding: 0 0 0 27px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 24px;
  justify-content: flex-end;
}
.uji-coba-m-a-k-e-r-s-n-a-v-i-g-a-t-i-o-n-i-t-e-m {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.uji-coba-text002 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-n-a-v-i-g-a-t-i-o-n-i-t-e-m1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.uji-coba-text004 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-n-a-v-i-g-a-t-i-o-n-i-t-e-m2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 24px;
}
.uji-coba-text006 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-n-a-v-i-g-a-t-i-o-n-i-t-e-m3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.uji-coba-text008 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-b-u-t-t-o-n {
  display: flex;
  padding: 3px 28px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 105, 255, 1);
}
.uji-coba-text010 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-m-a-i-n {
  width: 1440px;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-container2 {
  width: 1200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.uji-coba-text-side {
  width: 500px;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-m-a-k-e-r-s-t-e-x-t-c-o-n-t-e-n-t {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
}
.uji-coba-text012 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.uji-coba-text014 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.uji-coba-text016 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-b-u-t-t-o-n-s-g-r-o-u-p {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  justify-content: center;
}
.uji-coba-m-a-k-e-r-s-b-u-t-t-o-n1 {
  display: flex;
  padding: 3px 28px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 105, 255, 1);
}
.uji-coba-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-b-u-t-t-o-n2 {
  display: flex;
  padding: 3px 28px;
  position: relative;
  align-items: center;
  border-color: transparent;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(0, 105, 255, 1);
}
.uji-coba-text020 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-image-side {
  width: 660px;
  height: 519px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.uji-coba-image {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/284991b7-9a8a-4d7f-9aaa-e0d54979bf65-oe3r-600h.undefined");
}
.uji-coba-m-a-k-e-r-s-f-e-a-t-u-r-e-s {
  width: 1440px;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-container3 {
  width: 800px;
  display: flex;
  padding: 48px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
}
.uji-coba-text-container {
  width: 800px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-m-a-k-e-r-s-t-e-x-t-c-o-n-t-e-n-t1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text022 {
  color: rgba(42, 189, 163, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.uji-coba-text024 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.uji-coba-text026 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-content {
  display: flex;
  padding: 0 0 64px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-features-grid {
  height: 204px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.uji-coba-media-objects {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-m-a-k-e-r-s-m-e-d-i-a-o-b-j-e-c-t {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 32px;
}
.uji-coba-media {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(42, 189, 163, 1);
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-vectors {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-text028 {
  width: 444px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text029 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text031 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text033 {
  color: rgba(2, 73, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-m-e-d-i-a-o-b-j-e-c-t1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-media1 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(42, 189, 163, 1);
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-vectors1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-text035 {
  width: 444px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text036 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text038 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text040 {
  color: rgba(2, 73, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-media-objects1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-m-a-k-e-r-s-m-e-d-i-a-o-b-j-e-c-t2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 32px;
}
.uji-coba-media2 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(42, 189, 163, 1);
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s2 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-vectors2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-text042 {
  width: 444px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text043 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text045 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text047 {
  color: rgba(2, 73, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-m-e-d-i-a-o-b-j-e-c-t3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-media3 {
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 6px;
  justify-content: center;
  background-color: rgba(42, 189, 163, 1);
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s3 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-vectors3 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-text049 {
  width: 444px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text050 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text052 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.uji-coba-text054 {
  color: rgba(2, 73, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-s-t-a-t-s {
  width: 1440px;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-container4 {
  width: 800px;
  display: flex;
  padding: 48px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
}
.uji-coba-text-container1 {
  width: 800px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-m-a-k-e-r-s-t-e-x-t-c-o-n-t-e-n-t2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text056 {
  color: rgba(233, 101, 85, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.uji-coba-text058 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.uji-coba-text060 {
  color: rgba(10, 41, 66, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-content1 {
  width: 1440px;
  display: flex;
  padding: 0 0 64px 0;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-container5 {
  width: 1100px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-features-grid1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.uji-coba-media-objects2 {
  width: 356px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  flex-direction: column;
}
.uji-coba-media-container {
  width: 340px;
  display: flex;
  padding: 2px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(213, 219, 223, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-info {
  display: flex;
  padding: 24px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text062 {
  color: rgba(233, 101, 85, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.uji-coba-text064 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-media-objects3 {
  width: 356px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  flex-direction: column;
}
.uji-coba-media-container1 {
  width: 340px;
  display: flex;
  padding: 2px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(213, 219, 223, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-info1 {
  display: flex;
  padding: 24px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text066 {
  color: rgba(233, 101, 85, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.uji-coba-text068 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-media-objects4 {
  width: 356px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-media-container2 {
  width: 340px;
  display: flex;
  padding: 2px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(213, 219, 223, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-info2 {
  display: flex;
  padding: 24px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text070 {
  color: rgba(233, 101, 85, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.uji-coba-text072 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-m-a-k-e-r-s-f-o-o-t-e-r {
  width: 1440px;
  display: flex;
  padding: 0 20px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.uji-coba-container6 {
  width: 1000px;
  display: flex;
  padding: 32px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.uji-coba-column {
  width: 240px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-m-a-k-e-r-s-b-r-a-n-d-l-o-g-o1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: center;
}
.uji-coba-makingitlogo1 {
  width: 34px;
  height: 34px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-icon1 {
  width: 34px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
}
.uji-coba-rectangle51 {
  top: 11.313720703125px;
  left: 0px;
  width: 16px;
  height: 4.000026702880859px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 228, 94, 1);
}
.uji-coba-rectangle61 {
  top: 14.14215087890625px;
  left: 7.14208984375px;
  width: 20px;
  height: 4.000026702880859px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(94, 171, 227, 1);
}
.uji-coba-rectangle71 {
  top: 16.970550537109375px;
  left: 14.11279296875px;
  width: 24px;
  height: 4.000026702880859px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 99, 146, 1);
}
.uji-coba-text074 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.uji-coba-social-media {
  display: flex;
  padding: 8px 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s4 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 24px;
}
.uji-coba-vectors4 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s5 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 24px;
}
.uji-coba-vectors5 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-m-a-k-e-r-s-s-o-c-i-a-l-m-e-d-i-a-i-c-o-n-s6 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.uji-coba-vectors6 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.uji-coba-column1 {
  width: 200px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text076 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.uji-coba-navigation-links {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-navigation-item {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text078 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item01 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text080 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item02 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.uji-coba-text082 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-column2 {
  width: 200px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text084 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.uji-coba-navigation-links1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-navigation-item03 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text086 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item04 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text088 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item05 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.uji-coba-text090 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-column3 {
  width: 200px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-text092 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 10px;
  text-decoration: none;
}
.uji-coba-navigation-links2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.uji-coba-navigation-item06 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text094 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item07 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text096 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item08 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
}
.uji-coba-text098 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.uji-coba-navigation-item09 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.uji-coba-text100 {
  color: rgba(103, 131, 152, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
